*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgba(165, 42, 42, 0.822);
}


.memory-game{
    border: 2px solid lime;
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
}

.memory-card{
    border: 2px solid rgb(144, 212, 144);
    width: 25%;
    height: 33.33%;

}

.front-face,
.back-face{
    border: 2px solid deeppink;
}